{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "FUNCTIONS_EXTENSION_VERSION": "~4",

    "MessageTopicName": "sample-events",
    "MessageSubscriptionName": "message-writer",
    "MessageTableName": "MessageProjection",
    "MessagePartitionKeyField": "partitionId",
    "MessageRowKeyField": "entityId",

    "serviceBus_connectionString": "REPLACE_WITH_SERVICE_BUS_CONNECTION_STRING",
    "tableStorage_connectionString": "UseDevelopmentStorage=true"
  }
}
